.wrapper {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}

.item {
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.item p {
    font-weight: bold;
    font-size: 15px;
    color: gray;
}

.item1 {
    grid-column: 1 / 3;
}

.item3 {
    grid-row-start: 2;
    grid-row-end: 4;
}

.item4 {
    grid-column-start: 2;
    grid-column-end: 4;
}

div{
}

.a {
    background-color: lightblue;
}

.b {
    background-color: lightcoral
}

.c {
    background-color: lightcyan
}

.d {
    background-color: lightgoldenrodyellow
}

.e {
    background-color: lightgray
}

.f {
    background-color: lightgreen
}